@import url('./src/GlowEffect.css');

:root {
	--bg: black;
}

body {
	background-color: #fff;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	overflow: auto;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	max-width: 950px;
	justify-content: center;
	
}

.card {
	height: 260px;
	width: 300px;
	background-color: var(--bg);
	border-radius: 10px;
	cursor: pointer;
	position: relative;
}