@property --x {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}

@property --y {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}

@property --glow-color {
    syntax: "<color>";
    inherits: false;
    initial-value: black;
}

.glowable {
    /*  needed for firefox to have a valid output */
    --x: 100px;
    --y: 100px;
    /**/
    width: 300px;
    cursor: pointer;
    transition: --x 300ms ease-out, --y 300ms ease-out, opacity 500ms ease-out, --glow-color 500ms;
    background: 
            radial-gradient(circle at var(--x) var(--y),
            var(--glow-color) 1px,
            #080808 150px);
}